
.main-section{    
    background-color: rgb(255, 255, 255);
    height: 88vh;
    width:94vw ;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.login-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(73, 73, 73);
    height: 350px;
    width: 350px;
    padding: 20px;;
    border: none;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    background: rgba(121, 121, 121, 0.3);
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
input {
  width: 325px;
  height: 15px;
  padding: 12px;
  margin: 10px 0;
  border-radius: 12px;
  border: none;
  outline: none;
}
.login-button {
  width: 100%;
  padding: 12px;
  margin-top: 50px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: white;
  background: rgba(18, 80, 250, 0.315);
  transition: 0.3s;
}
